@import url("../Base.module.less");

.header {
    .flex;
    .uppercase;
    align-items: center;
    justify-content: space-around;
    height: 6em;
    background: var(--bg-dark);
    overflow-x: auto;
    padding: 0 var(--padding-size);
    font-weight: var(--weight-bold);
}

.figure {
    .flex;
    gap: 0.5em;
    height: 100%;
    max-width: 20em;
    min-width: 20em;
    height: 4em;
    align-items: center;

    > img {
        .img-fit;
    }

    > figcaption {
        color: var(--fg-blue);
    }
}

.headerRight {
    .flex;
    align-items: center;
    gap: 3em;
}

.nav {
    .flex;

    > ul {
        .flex;
        list-style: none;
        gap: 3em;

        > li {
            a {
                text-wrap: nowrap;
                text-decoration: none;
                color: var(--fg-light);
            }
        }
    }
}

.links {
    .flex;
    align-items: center;
    gap: 1em;
}

.ticketsSoonButton {
    .uppercase;
    background: var(--bg-yellow);
    color: var(--fg-dark);
    text-decoration: none;
    text-wrap: nowrap;
    padding: 1em 2em;
    border-radius: 2em;
    font-size: 1.2em;
    font-weight: bold;
}

.icon {
    filter: invert(1);
    font-size: 1.6em;
}
