@import url("../Base.module.less");

.intro {
    .flex;

    > figure {
        flex-basis: 50%;
        position: relative;
        img:first-child {
            .img-fit;
        }
    }

    > article {
        .flex-col;
        font-size: 1.58em;
        flex-basis: 50%;
        gap: 1.4em;
        color: var(--fg-light);
        background: var(--bg-dark);
        padding: 6em;

        > h2 {
            .uppercase;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.followButton {
    .uppercase;
    outline: 1px solid var(--fg-light);
    color: var(--fg-light);
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 0.8em;
    padding: 0.5em 2em;
    border-radius: 2em;
    width: fit-content;
}

.sticker {
    position: absolute;
    right: 8em;
    bottom: 2em;
    width: 16em;
    height: 16em;
}

@media screen and (max-width: 1000px) {
    .intro {
        .flex-col;
    }
}
