@import url("../base.module.less");

.intro {
    .flex;

    > figure {
        flex-basis: 50%;
        position: relative;
        img:first-child {
            .img-fit;
        }
    }

    > article {
        .flex-col;
        flex-basis: 50%;
        gap: 1.4em;
        color: var(--fg-light);
        background: var(--bg-black);
        justify-content: center;
        padding: calc(var(--padding-size) * 1.5);
        padding-right: calc(var(--padding-size) * 2);

        > h2 {
            .uppercase;
            font-size: 1.9em;
            font-family: var(--font-title);
            font-weight: 500;
            letter-spacing: var(--letter-spacing-alt);
            line-height: 1.2;
        }

        > p {
            font-size: 1.05em;
            font-family: var(--font-paragraph);
            a {
                font-weight: inherit;
                color: inherit;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
            font-weight: 600;
        }
    }
}

.followButton {
    .uppercase;
    outline: 0.15em solid var(--fg-light);
    color: var(--fg-light);
    text-decoration: none;
    text-wrap: nowrap;
    padding: 0.5em 2em;
    border-radius: 2em;
    width: fit-content;
}

.sticker {
    position: absolute;
    right: 6em;
    bottom: 2em;
    width: 10em;
    height: 10em;
}

@media screen and (max-width: 768px) {
    .intro {
        .flex-col;
    }
}
