@import url("../base.module.less");

.performances {
    .flex-col;
    align-items: center;
    padding: var(--padding-size);
    gap: var(--padding-size);
    background: var(--bg-white);
    position: relative;

    > h2 {
        .uppercase;
        font-family: var(--font-title);
        letter-spacing: var(--letter-spacing-alt);
        font-weight: 400;
    }

    > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: var(--padding-size);
        column-gap: calc(var(--padding-size) / 2);
        z-index: 2;
    }
}

.blueCorner {
    height: 6em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.performancesCard {
    .flex-col;
    gap: 0.5em;

    > figure {
        img {
            .img-fit;
        }
    }

    > h3 {
        .uppercase;
        font-size: 1.6em;
        font-family: var(--font-title);
        font-weight: 500;
        letter-spacing: 0.1em;
    }

    > p {
        font-family: var(--font-paragraph);
        font-weight: 400;
    }

    > nav {
        .flex;
        gap: 0.8em;

        > a {
            height: 2.5em;
            min-width: fit-content;
        }
    }
}

@media screen and (max-width: 768px) {
    .performances {
        > ul {
            grid-template-columns: 1fr;
        }
    }
}
