@import url("../base.module.less");

.performances {
    .flex-col;
    align-items: center;
    padding: var(--padding-size);
    gap: var(--padding-size);
    background: var(--bg-white);
    position: relative;

    > h2 {
        .uppercase;
        font-family: var(--title-font);
        letter-spacing: var(--alt-letter-spacing);
        font-weight: 500;
    }

    > ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: var(--padding-size);
        column-gap: calc(var(--padding-size) / 2);
        z-index: 2;
    }
}

.blueCorner {
    height: 6em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.performancesCard {
    .flex-col;
    --header-font-size: 1.6em;
    --header-font-weight: 500;
    --header-letter-spacing: 0.1em; // attempt to comp match font exactly
    --description-font-weight: 400;
    --icon-gap: 0.8em;
    --icon-height: 2.5em;

    gap: 0.5em;

    > figure {
        img {
            .img-fit;
        }
    }

    > h3 {
        .uppercase;
        font-size: var(--header-font-size);
        font-family: var(--title-font);
        font-weight: var(--header-font-weight);
        letter-spacing: var(--header-letter-spacing);
    }

    > p {
        font-family: var(--paragraph-font);
        font-weight: var(--description-font-weight);
    }

    > nav {
        .flex;
        gap: var(--icon-gap);

        > a {
            height: var(--icon-height);
            width: 3em;
        }
    }
}

@media screen and (max-width: 768px) {
    .performances {
        > ul {
            grid-template-columns: 1fr;
        }
    }
}
