@import url("../Base.module.less");

.performances {
    .flex-col;
    align-items: center;
    padding: var(--padding-size);
    gap: var(--padding-size);
    background: white;
    position: relative;

    > h2 {
        .uppercase;
        font-weight: 100;
    }

    > ul {
        display: grid;
        gap: 2em;
        grid-template-columns: 1fr 1fr;
        z-index: 2;
    }
}

.blueCorner {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .performances {
        > ul {
            grid-template-columns: 1fr;
        }
    }
}

.performancesCard {
    .flex-col;
    gap: 0.5em;
    img {
        .img-fit;
    }

    nav {
        .flex;
        gap: 0.8em;

        > a {
            height: 2em;
            min-width: fit-content;
        }
    }
}
