@import url("../Base.module.less");

.videoCover {
    .flex;
    padding: 0 var(--padding-size) 4em var(--padding-size);
    justify-content: center;
    background: var(--bg-light);

    > h2 {
        .uppercase;
        font-family: var(--font-title);
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.02em;
        color: var(--fg-dark);
        flex-basis: 40%;
        font-size: 3em;
        max-width: 9.5em;
        transform: scaleY(1.3) translateY(18%);
    }

    > a {
        .flex;
        width: 60%;
        > figure {
            .flex-col;
            align-items: center;
            justify-content: center;
            gap: 2em;

            > img {
                .img-fit;
            }

            > figcaption {
                .uppercase;
                color: var(--fg-red);
                font-family: var(--font-title);
                font-weight: 400;
                font-size: 1.4em;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .videoCover {
        > h2 {
            font-size: 2.5em;
        }
    }
}
