/* Utility classes */
.flex,
.flex-col {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.uppercase {
    text-transform: uppercase;
}

.img-fit {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
